ul, li{
	list-style-type:none
}
 
#container{
	margin-left: 6.5%;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
}
 
#box-1, #box-2, #box-3{
	width: 95%;
	height: 400px;
}
 
#box-1{
	background: red;
}
 
#box-2{
	background: green;
}
 
#box-3{
	background: blue;
}

#pager {
    margin-top: 5px;   
}

#pager a {
    text-decoration: none;
    color: #fff;
    padding: 5px 5px;
    background-color: #319489;
    box-shadow: 2px 2px 2px #000;
}

#pager a:hover {
    text-decoration: none;
    color: #00201D;
    padding: 5px 5px;
    background-color: #319489;
    box-shadow: 2px 2px 2px #000;
}

.activeSlide {
    font-size: 130%;
    color: #00201D;
}